@import 'tailwindcss';

html,
body {
  background-color: #1a1a1a;
  color: #f2f2f2;
  overscroll-behavior: none;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 6px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2a transparent;
}

/* Departure Table */
@media (max-width: 1800px) {
  .column-rwy,
  .column-w {
    display: none;
  }
}
@media (max-width: 1600px) {
  .column-route,
  .column-hide,
  .column-time {
    display: none;
  }
}
@media (max-width: 1300px) {
  .column-stand,
  .column-rfl,
  .column-rmk {
    display: none;
  }
}

@media (max-width: 1000px) {
  .table-view {
    display: none;
  }
  .card-view {
    display: block;
  }
}
@media (min-width: 1001px) {
  .table-view {
    display: block;
  }
  .card-view {
    display: none;
  }
}

/* Toolbar */
@media (max-width: 1350px) {
  .toolbar {
    flex-direction: column;
    gap: 16px;
  }
}
@media (max-width: 1000px) {
  .toolbar {
    flex-direction: column;
    gap: 12px;
  }
}
@media (max-width: 800px) {
  .toolbar {
    flex-direction: column;
    gap: 8px;
  }
}
@media (max-width: 650px) {
  .toolbar .wind-frequency-group {
    flex-direction: column !important;
    gap: 4px;
    align-items: flex-start;
  }
}
